.App {
	text-align: center;
	font-size: 2em;
	background-color: #8b4513;
}
.AppPrize {
	text-align: center;
	font-size: 2em;
	/* background-color: aquamarine; */
	background: wheat;
	background-image: radial-gradient(salmon 20%, transparent 0), radial-gradient(salmon 20%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
}
.AppWhammy {
	text-align: center;
	font-size: 2em;
	background-color: orangered;
}

/* .App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
} */

/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
} */

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.flex-grid {
	display: flex;
}
.flex-grid .col {
	flex: 1;
}
.flex-grid-edge {
	display: flex;
	justify-content: space-between;
}
.flex-grid-edge .col {
	width: 15%;
	margin: 10px;
}
flex-grid-center {
	display: flex;
	flex-direction: row;
}
/* @media (max-width: 400px) {
	.flex-grid,
	.flex-grid-thirds {
		display: block;
		.col {
			width: 100%;
			margin: 0 0 10px 0;
		}
	}
} */

* {
	box-sizing: border-box;
}
body {
	padding: 20px;
}
.flex-grid {
	margin: 0 0 20px 0;
}
.selected {
	padding: 20px;
	background: green;
}
.unselected {
	border-style: solid;
	padding: 20px;
	background: cornflowerblue;
}
.prize {
	padding: 20px;
	background: aquamarine;
}
.whammy {
	padding: 20px;
	background: orangered;
}
.flex-grid-center {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 500px;
}

.column-center-side {
	display: flex;
	flex-direction: column;
	height: 300px;
	flex: 1;
}

.column-center-middle {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 4;
	height: 500px;
}

.blue-column {
	height: 100%;
}
.giphy {
	height: 450px;
	max-width: 800px;
}
.pressyouluck {
	height: 100px;
	width: 400px;
	font-size: 20px;
	bottom: 10px;
}
.modal-backdrop-orange {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: orange;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	z-index: 1040;
}
.modal-backdrop-blue {
	background-color: blue;
	opacity: 0.6;
}
.modal-transition {
	transition: all 0.4s ease;
}
